* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
  padding: 3rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo-container {
    margin-top: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
}
  
.logo-container img {
    max-width: 100px;
}

.registration-num h4 span {
    color: red;
}

main {
    border:1px solid black;
    min-height: 100vh;
}
  
section {
    padding-bottom: 1rem;
}

.general-info-header-1 {
    background-color: #ffe9cc;
    text-align: center;
    padding: 0.3rem;
    border-bottom: 1px solid black;
}

.stud-general-information {
    width: 100%;
}

.table-header {
    width: 100%;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #ffe9cc;
}

.subjects-general-info {
    width: 100%;
    justify-content: space-evenly;
}

.note {
    margin-top: 50px;
    padding-left: 2rem;
    font-style: italic;
}

.assessed-fees {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.assessed-fees-container {
    border:1px solid black;
    width: 500px;
}